# host options
PORT=3003
HOST='http://localhost'
FRONTEND_HOST='http://localhost:3000'
# mongo uri
MONGO_URI='mongodb://localhost:27017/assignment?ssl=false'
NODE_ENV=production
# secrets for api token
SECRET_TOKEN_ACCESS='secret'
EXPIRE_TOKEN_ACCESS='1d'
SECRET_TOKEN_REFRESH='secret'
EXPIRE_TOKEN_REFRESH='30d'
SECRET_TOKEN_RESTORE_PASSWORD='secret'
EXPIRE_TOKEN_RESTORE_PASSWORD='5min'
TOKEN_LIMIT_COUNT_DIVICE=5
EXPIRE_TOKEN_SET_PASSWORD='60min'

#your gmail email below and password for the same
FROM_DEFAULT_MAIL=
DEFAULT_MAIL_PASSWORD=

#mail options
API_KEY_MAILGUN='f0bd65bb22841ec3517112c6a7231e6a-4d640632-6c85f6dd'
DOMAIN_MAILGUN='sandbox47051c970d544918b0dac955e37501a1.mailgun.org'
FROM_DEFAULT_MAIL='postmaster@sandbox47051c970d544918b0dac955e37501a1.mailgun.org'